<!--The content below is only a placeholder and can be replaced.-->
<h1>StarWars</h1>

<div class="links">
  <nav class="navigation">
    <a routerLink="/films" class="navigation-item">films</a>
    <a routerLink="/people" class="navigation-item">people</a>
    <a routerLink="/planets" class="navigation-item">planets</a>
    <a routerLink="/species" class="navigation-item">species</a>
    <a routerLink="/starships" class="navigation-item">starships</a>
    <a routerLink="/vehicles" class="navigation-item">vehicles</a>
  </nav>
</div>
<router-outlet></router-outlet>
