.wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.film {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  max-width: 200px;

  &-title {
    font-size: 17px;
    font-weight: normal;
  }

  &-episode {
    font-size: 10px;
  }

  &-director {
    font-size: 14px;
  }
  &-producer {
    font-size: 14px;
  }
  &-release {
    font-size: 16px;
  }
}


